@tailwind base;
@tailwind components;
@tailwind utilities;


.darktheme1{ 
    background: rgb(1, 32, 55);
    color: rgb(144, 170, 186);
    border: .1px solid rgba(61, 230, 249, 0.157);
   
}
.darktheme2{ 
   background: hsla(219, 34%, 18%,1);
   color: rgb(164, 175, 177);
   border: .1px solid rgb(71, 91, 138);
   font-size: 21px;
   margin:0 auto;
}

.border{
    border: .1px solid rgb(41, 53, 81);
}

.border:hover{
    border: 1px solid rgb(71, 91, 138);

}
.bg2{
    color: rgb(164, 175, 177);
    background: hsla(219, 34%, 16%,1);
    overflow: hidden;
}


.icons{
padding: 2px;
width: 40px;
border: .1px solid rgb(51, 65, 97);
border-radius: 5px;
background: #18274e;
}

.box{
    width: 90%;
    height: 450px;
    background: rgb(4, 43, 69);
    border: .1px solid rgba(61, 230, 249, 0.157);
    border-radius: 5px;
    margin: 10px auto;
    padding: 15px;
    color: #5c769c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, sans-serif ;
}

li a {
    color: rgb(114, 131, 156);
    font-weight: 600;
    font-size: 16px;
    margin-top:2px;
}

.dashBoard-li:hover {
    color: rgb(152, 163, 180);
    font-weight: 600;
    font-size: 16px;
}


